.product{
    margin: 16px 0 0 22px;
}
.product__add{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.product-item{
    width: 25rem;
    padding: 8px 0;
}
.product-item-title{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color);
}
.product-item-input{
    padding: 4px 8px 5px 8px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    height: 30px;
    width: 500px;
    font-size: 1.4rem;
    outline: none;
}
.product-item-select{
    color: var(--text-color);
    outline: none;
    height: 28px;
    width: 200px;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid var(--border-color);
}
.product-item-describe{
    width: 500px;
    border-radius: 2px;
    padding: 6px 8px;
    color: var(--text-color);
    line-height: 1.8rem;
    resize: none;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid var(--border-color);
}
.product__add-btn{
    margin: 16px 0 0 22px;
}
.btn.btn__add{
    padding: 8px 0;
    width: 80px;
    height: 32px;
    background-color: var(--blue-color);
    color : var(--white-color);
}