.header__cart .wrap-hide{
    display: none !important;
}
.cart{
    background-color: #f5f5f5;
}
.cart__information{
    border-radius: 4px;
    background-color: var(--white-color);
    margin: 20px 0 70px;
}
.cart__container{
    margin: 22px 20px;
}
.cart__container__heading{
    position: relative;
}
.cart__container-title{
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 300;
    padding: 12px 0; 
    margin: 12px 0; 
}
.cart__container-title::after{
    margin-top: 26px;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--border-color);
}
.cart__container-body{
    padding-top: 20px;
}
.cart__container-table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.cart__container-checkbox{
    padding-right: 14px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.cart__container_table-th{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.cart__container_table-td{
    padding: 20px 12px 20px 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
.cart__container_table-td-with{
    width: 430px;
}
.product__information-quantity-with{
    width: 185px;
}
.cart__container_table-td-link{
    display: flex;
}
.cart__container__item-link{
    text-decoration: none;
}
.cart__container-item--img{
    border-radius: 2px;
    object-fit: contain;
    border: 0.2px solid var(--border-color);
    width: 80px;
    height: 80px;
}
.cart__container_table-td-name{
    flex: 1;
    max-height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    color: var(--text-color);
    margin: 10px 12px 0;
    font-size: 1.4rem;
    font-weight: 400;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.cart__container_table-td--btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart__container-payment{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0 12px;
    border-top: 1px solid var(--border-color);
    
}
.cart__container-payment-action{
    align-items: center;
    display: flex;
}
.cart__container-payment-buying{
    display: flex;
    align-items: flex-end;
}
.cart__container-payment-buying-sum{
    display: grid;
}
.cart__container-btn__all{
    padding: 8px;
    margin: 0 14px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart__container-del{
    padding: 8px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart__container-payment-title{
    line-height: 35px;
    font-size: 1.6rem;
}
.cart__container-payment-price{
    font-size: 1.6rem;
    margin:0 16px 0 0;
}
.cart__container-payment-buying-btn{
    width: 210px;
}
.update-btn{
    margin-left: 3px;
    height: 32px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.update{
    display: flex;
    align-items: center;
}
.link{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    opacity: 0.6;
}
.modal__cart{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.2s;
}
.open_modal{
    display: flex;
}
.open {
    display: block !important;
}

.colse{
    display: none;
}
.modal__overlay-cart{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__buy{
    --grow-from--: 0.8;
    --grow-to--:1 ;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
.modal__buy{
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 500px;
    height: 200px;
}
.modal__buy-heading{
    text-align: center;
}
.modal__buy-heading-title{
    text-transform: uppercase;
    margin-top: 50px;
    position: relative;
    font-size: 1.8rem;
    font-weight: 300;
    transform:translateY(-50%) ;
}
.modal__buy-body{
    position: relative;
    width: 400px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.modal__btn-off,
.modal__btn-online{
    color: #fff;
    padding: 12px;
    font-size: 1.3rem;
}
.modal__btn-online{
    color: #ccc ;
}
.notify{
    display: none;
    width: 100%;
    position: absolute;
}
.notify__title{
    margin-top: -76px;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--white-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
}
.notify__title::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 66px;
    top: -26px;
    border-width: 18px 22px;
    border-style: solid;
    border-color: var(--white-color) transparent transparent transparent;
}
.modal__btn-online:focus ~ .notify{
    display: block ;
}
.modal__pay{
    border-radius: 4px;
    z-index: 1;
    margin: auto;
    background-color: var(--white-color);
    width: 1100px;
    display: none
}
.modal__pay-heading{
}
.modal__pay-body{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal__pay-title{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
.modal__buy--img{
    border: 0.2px solid #f0f0f0;
    width: 80px;
    height: 70px;
    object-fit: contain;
}
.modal__pay-table{
    margin-left: 20px;
    border-collapse: collapse;
    text-align: left;
    display: block;
    width: 65%;
}
.modal__th{
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
    width: 7%;
    font-size: 1.5rem;
    font-weight: 400;
}
.modal__td{
    padding: 10px 0;
    font-size: 1.5rem;
}
.modal__pay-info{

}
.modal__pay-info-list{
    padding: 0;
    margin: 14px 14px 14px 0;
    display: flex;
    list-style: none;
}

.modal__pay-item-title{
    width: 150px;
    font-size: 1.5rem;
}
.modal__pay-item{
    font-size: 1.5rem;

}
.dau{
    font-size: 1.3rem;
    margin-right: 4px;

}
.modal__buy-link{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.6rem;
}
.modal__buy-link:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.modal__body-btn{
    margin: 12px 0;
    text-align: center;
}
.modal-payment-buying-sum{
    display: grid;
    justify-content: end;
    width: 65%;
}
.modal-payment-title,
.modal-payment-price{
    margin-bottom: 12px;
    font-size: 1.5rem;
}
.modal_link{
    text-decoration: none;
}