.container{
    background-color: #f5f5f5;
}
.app__conten{
    padding-top: 1.25rem;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading{
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0;
    /* border-bottom: 1px solid #fafafa; */
    text-transform: uppercase;
}
.category__heading-icon{
    margin-right: 4px;
    font-size: 1.4rem;
    position: relative;
    top: -1px;
}
.category-list{
    list-style: none;
    padding: 0 0 8px 0;
}
.category-item{
    position: relative;
}
.category-item::before{
    top: 0;
    left: 20px;
    right: 20px;
    content: "";
    position: absolute;
    border-top: 1px solid #E1E1E1;

}
.category-item:first-child::before{
    display: none;
}
.category-item__link{
    text-transform: uppercase;
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    /* transition: right linear 0.2s;
    right: 0; */
}
.category-item__link:hover{
    /* right: -4px; */
    color: var(--primary-color);
}
.category-item--active .category-item__link {
    color: var(--primary-color);   
}
/* .category-item--active .category-item__link::after{
    cursor: pointer;
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);

} */
/* Home */
.home-filter{
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: 1px solid #555555;
    margin-right: 16px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__btn{
    border-bottom: 1px solid var(--border-color);
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(133, 133, 133);
    position: relative;
    top: 1px;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-btn{
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--text-color);
    flex: 1;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-control{
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 2px;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}
.home-fiter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--disabled{
    cursor: default;
    background-color:  #f9f9f9;
}
.home-filter__page-btn--disabled .home-fiter__page-icon{
    color: #ccc;
}
/* Product item */
.home-product-new,
.home-product-common{
    margin-bottom: 10px;
}
.home-product_common{
    display: none;
}
.home-product_categroy{
    display: none;
}
.open{
    display: block;
}
.close{
    display: none;
}
.home-product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    transition: transfrom ease-in 0.4s;
    will-change: transfrom;
}
.home-product-item:hover{
    transform: translateY(-2px) ;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item--img{
    height: 196px;
    object-fit: contain;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    width: 100%;
}
.home-product__name{
    margin: 10px 10px 4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    color: var(--text-color);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product__price-old{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #b9b7b7;
    text-decoration: line-through;
}
.home-product__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1rem;
}
i.home-product-item__like-icon-fill{
    color: rgb(229, 32, 32);
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    margin-top: -1px;
    margin-left: auto;
    font-size: 0.6rem;
    color:#b9b7b7;
}
.home-product-item__star--gold{
    color: var(--star-color-gold);
}
.home-product-item__sold{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 2px;
}
.home-product-item__brand{
    max-height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    color: var(--text-color);
    margin: 0 3px 2px 0;
    font-size: 1.2rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}
.home-product-item__origin--name{
    max-height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    color: var(--text-color);
    margin: 0 0 2px 0;
    font-size: 1.2rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    margin-left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 5px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.home-product-item__favourite::after{
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(85%);
}
.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 3px 0 5px;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color:rgba(255,216 ,64, 0.95);
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    margin: auto;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255,216 ,64, 0.95) transparent rgba(255,216 ,64, 0.95);
}
.home-product-item__percent{
    position: relative;
    top: 4px;
    color: #EE2D4D;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
}
.home-product-item__label{
    position: relative;
    top: 4px;
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 1.4rem;
}
.home-product__pagination{
    margin: 48px 0 32px; 
}