.footer{
    background-color: var(--white-color);
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer-list-link{

    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
    padding:6px 0;
    display: flex;
    align-items: center;
}
.footer-list-link:hover{
    color: var(--primary-color);
}
.footer-item-icon{
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 1.6rem;  
    margin: -1px 8px 0 0;
}
.footer__down{
    display: flex;
}
.footer__down-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__down-app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
}
.footer__down-app-img-link{
    color: transparent;
    text-decoration: none;
}
.footer__down-app-img-store{
    height: 19px;
}
.footer__down-app-img-google{
    height: 17px;
}
.footer__down-app-img-Gallery{
    height: 16px;
}
.footer__bottom{
    background-color:var(--white-color);
    padding: 12px 0;
}
.footer__bottom-list{
    display: flex;
    justify-content: center;

}
.footer__bottom-item{
    position: relative;
    list-style: none;
}
.footer__bottom-item::before{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(0,0,0,.09);
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.footer__bottom-item:first-child::before{
    display: none;
}
.footer__bottom-link{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 25px;
    color: rgba(0, 0, 0 ,0.6);
}
.footer__copyright-title{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
}