.profile__heading{
}
.profile__heading-title{
    font-size: 2.2rem;
    font-weight: 400;
    margin: 20px;
}
.profie__body{
    display: grid;
    width: 600px;
    margin: 0 auto;
}
.profile__body-list{
    align-items: center;
    display: flex;
    list-style: none;
}
.profile__body-item-1{
    width: 190px;
    font-size: 1.6rem;

}
.dau{
    font-size: 1.4rem;
    margin-right: 10px;
}

.profile__body-input{
    font-size: 1.6rem;
    height: 30px;
    width: 250px;
    padding: 2px 6px;
}
.profile__btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}